@page "/"

<div class="content px-4 landing">
    <SemGrid class="landing">
        <SemGridColumn Wide="GridUnit.Sixteen" Classes="@(new[] { ColumnClass.Center_Aligned })">
            <img src="logo_skillerator_pfade_weiss.png" class="responsive logo"/>
        </SemGridColumn>
        <SemGridColumn Wide="GridUnit.Three"></SemGridColumn>
        <SemGridColumn Wide="GridUnit.Ten" Classes="@(new[] { ColumnClass.Center_Aligned })">
            <h1 class="white-title">Coming Soon</h1>
        </SemGridColumn>
        <SemGridColumn Wide="GridUnit.Three"></SemGridColumn>
        <SemGridColumn Wide="GridUnit.Four"></SemGridColumn>
        <SemGridColumn Wide="GridUnit.Eight">
            <hr class="solid"/>
        </SemGridColumn>
        <SemGridColumn Wide="GridUnit.Four"></SemGridColumn>
        <SemGridColumn Wide="GridUnit.Four"></SemGridColumn>
        <SemGridColumn Wide="GridUnit.Eight" Classes="@(new[] { ColumnClass.Center_Aligned })">
            <h2 class="white-title">
                We bring your employee to Germany: Easy, transparent and compliant
            </h2>
        </SemGridColumn>
        <SemGridColumn Wide="GridUnit.Four"></SemGridColumn>
        <SemGridColumn Wide="GridUnit.Five"></SemGridColumn>
        <SemGridColumn Wide="GridUnit.Six" Classes="@(new[] { ColumnClass.Center_Aligned })">
            <SemButton Color="ButtonColor.Orange" Size="Size.Big">
                GET IN TOUCH
            </SemButton>
        </SemGridColumn>
        <SemGridColumn Wide="GridUnit.Five"></SemGridColumn>
        <SemGridColumn Wide="GridUnit.Four"></SemGridColumn>
        <SemGridColumn Wide="GridUnit.Eight">
            <hr class="solid"/>
        </SemGridColumn>
        <SemGridColumn Wide="GridUnit.Four"></SemGridColumn>
        <SemGridColumn Wide="GridUnit.Four"></SemGridColumn>
        <SemGridColumn Wide="GridUnit.Eight" Classes="@(new[] { ColumnClass.Center_Aligned })">
            <p class="white-text">
                Skillerator is the up and coming Startup for employee mobility. You found a great match for a position in your company but don't know how to handle all the bureaucracy? We have the solution for you.
                You can go on with you day and Skillerators automization takes care of all deadlines and to dos keeping you in charge and up to date at all times.
            </p>
        </SemGridColumn>
        <SemGridColumn Wide="GridUnit.Four"></SemGridColumn>
        <SemGridColumn Wide="GridUnit.Five"></SemGridColumn>
        <SemGridColumn Wide="GridUnit.Six" Classes="@(new[] { ColumnClass.Center_Aligned })">
            <SemButton Color="ButtonColor.Orange" Size="Size.Big">
                LEARN MORE
            </SemButton>
        </SemGridColumn>
        <SemGridColumn Wide="GridUnit.Five"></SemGridColumn>
        <SemGridColumn Wide="GridUnit.Four"></SemGridColumn>
        <SemGridColumn Wide="GridUnit.Eight" Classes="@(new[] { ColumnClass.Center_Aligned })">
            <div class="iframe-container">
                <iframe class="responsive-iframe" src="https://www.youtube.com/embed/dHYDVMkFHFc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </SemGridColumn>
        <SemGridColumn Wide="GridUnit.Four"></SemGridColumn>        
    </SemGrid>
</div>